body {
	font-family: 'Montserrat', sans-serif;
}

header {
	background-color: #BBBBBB;
	padding: 20px 0; 
}

.caja{
	width: 940px;
	position: relative;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;

}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

/* con HOVER en CSS, voy a capturar el evento del mouse */
nav a:hover{
	color: #c79c19;
	text-decoration: underline;
} 

.productos {
	width: 940px;
	margin: 0 auto;
	padding: 50px;
}

.productos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;

/* border radius se puede trabajar en global o por separado

	border-radius: 10px 25px 40px 50px;
ó
	border-top-left-radius: 10px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 40px;
	border-bottom-left-radius: 50px;

	*/

/*	estas líneas se reemplazan por una sola en "border"
    Border está entre el margin y el padding
    border-color: #000000;
	border-width: 2px;
	border-style: solid;
*/
}

.productos li:hover h2{
	font-size: 33px; 
}


.productos li:hover{
	/* hover: detecta cuando el usuario pasa el mouse sobre el elemento*/
	border-color: #c78c19; 
}

.productos li:active {
	/* active: detecta cuando el elemento está siendo activado por el usuario*/
	border-color: #088c19;
}

.productos h2 {
	font-size: 30px;
	font-weight: bold;
}

.producto-descripcion {
	font-size: 18px;
}

.producto-precio {
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
}

footer {
	text-align: center;
	background: url(../img/bg.jpg);
	padding: 40px;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px;
}


form {
	margin: 40px 0;
}

form label, form legend {
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padron {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox{
	margin: 20px 0;
}

/* jerarquía y orden de CSS3 de mayor a menor: 
 Inline - ID - Class - Etiqueta
 */

.enviar {
	width: 40%;
	padding: 15px 0;
	font-size: 18px;
	font-weight: bold;
	color: white;
	background: orange;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.enviar:hover {
	background: darkorange;
	transform: scale(1.2);
}

table {
	margin: 40px 40px;
}

thead {
	background: #555555;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid #000000;
	padding: 8px 15px;
}

/* css para nuestra home */
.banner {
	width: 100%;
}

.principal {
	width: 940PX;
	margin: 0 auto;
	background: #FEFEFE;
	padding: 3em;
}

.titulo-principal{
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
}



.principal p{
	margin: 0 0 1em;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-style: italic;
}

.utensilios { 
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;

}

.mapa-contenido {
	width: 940px;
	margin: 0 auto;
}

.mapa {
	padding: 3em 0;
	background: linear-gradient(#FEFEFE, #888888);
}

.mapa p {
	margin: 0 0 2em; 
	text-align: center;
}

.diferenciales {
	padding: 3em;
	background: #888888;
}

.contenido-diferenciales { 
	width: 640px;
	margin: 0 auto;
}

.lista-diferenciales { 
	width: 40%;
	display: inline-block;
	vertical-align: top;

}

.items {
	line-height: 1.5;
}

.items:before {
	content: "★";
}

.items:first-child{
	font-weight: bold;
}

.imagen-diferenciales { 
	width: 60%;
	transition: 400ms;
	box-shadow: 10px 10px 30px 15px #000000;
}

.imagen-diferenciales:hover{
	opacity: 0.3;
}

.video { 
	width: 560px;
	margin: 1em auto;
}

@media screen and (max-width:480px){

	h1{
		text-align: center;
	}
	nav{
		position: static;
	}

	.caja, .principal, .mapa-contenido, .contenido-diferenciales, .video{
		width: auto;
	}

	.lista-diferenciales, .imagen-diferenciales{
		width: 100%;
	}

	.menu{
        display: block;
    }

}